<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs')%>
    <p>this cart</p>

<%- include('../includes/end.ejs') %>